html { height: 100%; }

body {
  height: 100%;
  background-color: $bg-color;
  margin: 0 auto;
  font-size: $body-font-size;
  line-height: 1.6em;
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #000;
  &:hover, &:active, &:focus { color: $header-link-color; }
}

// Positioning
.block {
  display: block;
}

.inline-top {
  @include inline-block();
}

// Spacing
.m-t-lg {
  margin-top: 3rem;
}

.m-t {
  margin-top: 1rem;
}

.m-t-sm {
  margin-top: 0.55rem;
}

.m-b-lg {
  margin-bottom: 3rem;
}

.m-b {
  margin-bottom: 1rem;
}

.p-a {
  padding: 1rem;
}

.rounded {
  border-radius: 360px;
}

pre {
  border: none;
  padding: 0;
}

.list-group-inline {
  li {
    @include inline-block();
    list-style-type: none;
    margin-right: 1.5rem;
  }
}