#header {
  background-color: $header-bg-color;

  nav li a { margin-right: 1rem; }
  li.active a {
    color: $header-link-color;
    font-weight: bold;
  }

  a {
    line-height: 1rem;
  }
}

.icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/socialicons.png");

  &.twitter { background-position: -3px -3px; }
  &.twitter:hover { background-position: -3px 50px; }

  &.github { background-position: 48px -3px; }
  &.github:hover { background-position: 48px 50px; }
}