.media {
  ul {
    margin-bottom: 1rem;
  }

  p {
    margin: 0;
  }
}

.panel {
  border-color: transparent;
  background: transparent;

  .panel-heading {
    border-bottom: none;
    background-color: darken($bg-color, 5%);
  }
}