#post {
  p {
    font-size: $post-font-size;
    word-spacing: 4px;
    margin: 1.6em 0;
  }

  pre { font-size: $post-small-font-size; }
}

@media (min-width: $screen-sm-min) {
  #post pre { font-size: $post-font-size; }
}