// Colors
$bg-color: #FAFAFA;
$header-bg-color: #FFF;
$header-link-color: #AB4C20;

// Viewport
$header-height: 60px;
$body-width: 970px;

// Size
$body-font-size: 1.7em;
$post-font-size: 16px;
$post-small-font-size: 12px;

// Viewports
$screen-xs-max: 767px;
$screen-sm-min: 768px;