html {
  height: 100%; }

body {
  height: 100%;
  background-color: #FAFAFA;
  margin: 0 auto;
  font-size: 1.7em;
  line-height: 1.6em;
  font-family: 'Droid Sans', sans-serif; }

a {
  color: #000; }
  a:hover, a:active, a:focus {
    color: #AB4C20; }

time {
  font-size: 16px;
  font-weight: 100;
}

#main {
  min-height: 78%;
}

.block {
  display: block; }

.inline-top {
  display: inline-block;
  vertical-align: top; }

.p-t {
  padding-top: 1rem;
}

.p-b {
  padding-bottom: 1rem;
}

.p-r {
  padding-right: 1rem;
}

.m-t-lg {
  margin-top: 3rem; }

.m-t {
  margin-top: 1rem; }

.m-t-sm {
  margin-top: 0.55rem; }

.m-b-lg {
  margin-bottom: 3rem; }

.m-b {
  margin-bottom: 1rem; }

.p-a {
  padding: 1rem; }

.rounded {
  border-radius: 360px; }

.und {
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.list-group-inline li {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  margin-right: 1.5rem; }

#header {
  background-color: #FFF; }
  #header nav li a {
    margin-right: 1rem; }
  #header li.active a {
    color: #AB4C20;
    font-weight: bold; }
  #header a {
    line-height: 1rem; }

.icon {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/socialicons.png"); }
  .icon.twitter {
    background-position: -3px -3px; }
  .icon.twitter:hover {
    background-position: -3px 50px; }
  .icon.github {
    background-position: 48px -3px; }
  .icon.github:hover {
    background-position: 48px 50px; }

.media ul {
  margin-bottom: 1rem; }
.media p {
  margin: 0; }

.panel {
  border-color: transparent;
  background: transparent; }
  .panel .panel-heading {
    border-bottom: none;
    background-color: #ededed; }

p {
  font-size: 12px;
  word-spacing: 4px;
  margin: 1.6em 0; }

.post-heading {
  background-color: #272822;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #FFF;
  text-align: center;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}