<div class="row m-t-lg">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default col-sm-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="q" ng-change="pc.search(q)" placeholder="Search by title.." />
            <span class="input-group-btn">
              <button class="btn btn-default">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <p ng-show="!pc.posts.length">No posts found..</p>

        <article class="media" ng-repeat="post in pc.posts">
          <div class="media-body">
            <h3 class="media-heading">
              <a ui-sref="show.post({ template: post.template })" ng-bind="post.title"></a>
            </h3>

            <time class="inline-top" ng-attr-datetime="{{ post.created_at }}" ng-attr-title="{{ post.created_at | date }}" ng-bind="post.created_at | date"></time>

            <ul class="list-group-inline inline-top">
              <li ng-repeat="keyword in post.keywords">
                <a ui-sref="search({ keyword: keyword })" ng-attr-title="{{ keyword }}" ng-bind="'#' + keyword"></a>
              </li>
            </ul>

            <p ng-bind="post.description"></p>
          </div>

          <hr ng-show="!$last" />
        </article>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-4" ng-if="pc.canShowPagination">
          <ul class="pagination">
            <li ng-repeat="page in pc.pageNumbers" ng-class="{ 'active': pc.page === page }" ng-click="pc.list(page)">
              <a href="#" ng-bind="page"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>