<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <a href="/">home</a>
          <a href="/about">about</a>
        </ul>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <ul>
        <li><a href="mailto:itwalton@gmail.com" title="Email">email</a></li>
        <li><a href="//twitter.com/itwalton" title="Twitter">twitter</a></li>
        <li><a href="//github.com/itwalton" title="GitHub">github</a></li>
      </ul>
    </footer>
  </body>
</html>