<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  </head>

  <body>
    <header id="header" class="row">
      <div class="col-sm-4">
        <div class="col-sm-12">
          <a href="/" title="Home">
            <img alt="Ian Walton" src="/assets/img/name.png" height="45px" width="175px" />
          </a>
        </div>
      </div>

      <nav>
        <ul>
          <a href="/">home</a>
          <a href="/about">about</a>
        </ul>
      </nav>
    </header>

    <main id="main">
      {{ content }}
    </main>

    <footer>
      <ul>
        <li><a href="mailto:itwalton@gmail.com" title="Email">email</a></li>
        <li><a href="//twitter.com/itwalton" title="Twitter">twitter</a></li>
        <li><a href="//github.com/itwalton" title="GitHub">github</a></li>
      </ul>
    </footer>
  </body>
</html>